﻿@using Hotel.Models


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-inverse navbar-dark fixed-top custom-nav">
        <div class="container">
            <a href="#"><img src="~/Content/img/logo.svg" width="100px" height="60px" /></a>
      
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @{
                if (LoginModel.getUserSession() != null)
                {
                    <div class="collapse navbar-collapse" id="navbarText">

                        <ul class="navbar-nav ml-auto">

                            @{
                                if (LoginModel.getUserSession().isClient())
                                {
                                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Room" ? "active" : "")">
                                        @Html.ActionLink(
                                     linkText: "Reservar",
                                     actionName: "Index",
                                     controllerName: "Room",
                                     routeValues: null,
                                     htmlAttributes: new { @class = "nav-link" })
                                    </li>
                                }
                            }


                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Booking" ? "active" : "")">
                                @Html.ActionLink(
                             linkText: LoginModel.getUserSession().isClient() ? "Mis Reservaciones" : "Reservaciones",
                             actionName: "Index",
                             controllerName: "Booking",
                             routeValues: null,
                             htmlAttributes: new { @class = "nav-link" })
                            </li>


                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Booking" ? "active" : "")">
                                @Html.ActionLink(
                                linkText: "Cerrar Sesión",
                                actionName: "closeSession",
                                controllerName: "Login",
                                routeValues: null,
                                htmlAttributes: new { @class = "nav-link" })
                            </li>

                        </ul>

                    </div>

                }
            }
        </div>
    </nav>


    <div class="">
        @RenderBody()
    </div>

    <!--<footer class="text-center text-white fixed-bottom">
        <hr />
        <div class="container text-center p-3">
            @DateTime.Now.Year - Copyright:
            <a class="text-white" href="#">Hotel.com</a>
        </div>
    </footer> -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
