﻿@using Hotel.Models

@model Hotel.Models.UserModel

@{
    ViewBag.Title = "Registro";
}

<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="~/Content/img/register-img-min.jpg" alt="login image" class="login-card-img">
                </div>
                <div class="col-md-6">

                    <div class="card-body">

                        <div class="brand-wrapper">
                            <img src="~/Content/img/icon.png" alt="logo" class="logo">
                        </div>

                        @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "register-form" }))
                        {

                            @Html.AntiForgeryToken()

                            <p class="login-card-description">Registro</p>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.ident_user,
                                     new { @class = "form-control", placeholder = "Identificación", autofocus = "autofocus"})
                                @Html.ValidationMessageFor(x => x.ident_user, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.name_user,
                                     new { @class = "form-control", placeholder = "Nombre completo" })
                                @Html.ValidationMessageFor(x => x.name_user, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.user_email,
                                     new { @class = "form-control", placeholder = "Correo electrónico" })
                                @Html.ValidationMessageFor(x => x.user_email, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(x => x.password_user,
                                     new { @class = "form-control", placeholder = "Contraseña"})
                                @Html.ValidationMessageFor(x => x.password_user, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(x => x.confirmPassword,
                                     new { @class = "form-control", placeholder = "Confirmar contraseña"})
                                @Html.ValidationMessageFor(x => x.confirmPassword, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.ActionLink(
                                  linkText: "¿Ya tiene una cuenta? Iniciar sesión",
                                  actionName: "LoginForm",
                                  controllerName: "Login",
                                  routeValues: null,
                                  htmlAttributes: new { @class = "login-card-footer-text" })

                                <button class="btn btn-block login-btn mb-4 mt-2" type="submit">
                                    Registrarse
                                </button>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@*<div class="container container-mb">
        <div class="row mt-4">
            <div class="col-md-3"></div>
            <div class="col-md-6 ">

                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "register-form" }))
                {

                    @Html.AntiForgeryToken()
                    <h1 class="text-center">Formulario de Registro</h1>
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.ident_user,
                             new { @class = "form-control", placeholder = "Identificación", autofocus = "autofocus"})
                        @Html.ValidationMessageFor(x => x.ident_user, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(x => x.name_user,
                             new { @class = "form-control", placeholder = "Nombre" })
                        @Html.ValidationMessageFor(x => x.name_user, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(x => x.user_email,
                             new { @class = "form-control", placeholder = "Correo electrónico" })
                        @Html.ValidationMessageFor(x => x.user_email, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(x => x.password_user,
                             new { @class = "form-control", placeholder = "Contraseña"})
                        @Html.ValidationMessageFor(x => x.password_user, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(x => x.confirmPassword,
                             new { @class = "form-control", placeholder = "Comfirmar contraseña"})
                        @Html.ValidationMessageFor(x => x.confirmPassword, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-lg  btn-block" type="submit">
                            Registrar
                        </button>
                    </div>

                }
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>*@


