﻿@using Hotel.Models

@model Hotel.Models.LoginModel

@{
    ViewBag.Title = "Ingresar";
}

<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="~/Content/img/login-img-min.jpg" alt="login image" class="login-card-img">
                </div>
                <div class="col-md-6">

                    <div class="card-body">

                        <div class="brand-wrapper text-center">
                            <img src="~/Content/img/logo2.svg" alt="logo" class="logo">
                        </div>

                        @using (Html.BeginForm("LoginForm", "Login", FormMethod.Post, new { @class = "register-form" }))
                        {

                            @Html.AntiForgeryToken()

                            <p class="login-card-description">Iniciar sesión</p>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.user_email,
                                     new { @class = "form-control", placeholder = "Correo electrónico" })
                                @Html.ValidationMessageFor(x => x.user_email, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(x => x.password_user,
                                     new { @class = "form-control", placeholder = "*******"})
                                @Html.ValidationMessageFor(x => x.password_user, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.ActionLink(
                                  linkText: "¿No tiene una cuenta? Regístrese aquí",
                                  actionName: "Register",
                                  controllerName: "User",
                                  routeValues: null,
                                  htmlAttributes: new { @class = "login-card-footer-text" })
                                <button class="btn btn-block search-btn mb-4 mt-2" type="submit">
                                    Ingresar
                                </button>
                            </div>
                        }

                        @{
                            if (@TempData["successMessage"] != null)
                            {
                                <div class="alert alert-success">
                                    @{
                                        @TempData["successMessage"]
                                    }
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--<div class="container container-mb">
    @{
        if (@TempData["successMessage"] != null)
        {
            <br />
            <div class="alert alert-success">
                @{
                    @TempData["successMessage"]
                }
            </div>
        }
    }

    <div class="row mt-4">


        <div class="col-md-3"></div>
        <div class="col-md-6 ">

            @using (Html.BeginForm("LoginForm", "Login", FormMethod.Post, new { @class = "register-form" }))
            {
                @Html.AntiForgeryToken()
                <h1 class="text-center">Iniciar Sesión</h1>
                <br />

                <div class="form-group">
                    @Html.TextBoxFor(x => x.user_email,
                         new { @class = "form-control", placeholder = "Correo electrónico" })
                    @Html.ValidationMessageFor(x => x.user_email, null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(x => x.password_user,
                         new { @class = "form-control", placeholder = "Contraseña"})
                    @Html.ValidationMessageFor(x => x.password_user, null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.ActionLink(
                      linkText: "Registrarse",
                      actionName: "Register",
                      controllerName: "User",
                      routeValues: null,
                      htmlAttributes: new { @class = "navbar-brand" })
                    <button class="btn btn-outline-primary btn-lg  btn-block" type="submit">
                        Enviar
                    </button>

                </div>

            }
        </div>
        <div class="col-md-3"></div>

    </div>
</div> -->
