﻿
/* ========================================== */
/*                   FONTS                    */
/* ========================================== */
/* TÍTULOS Y BOTONES */
@font-face {
    font-family: 'Merriweather-Bold';
    src: URL('/Content/Fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
}

/* CUERPO DE TEXTO (PÁRRAFOS, INPUTS, LABELS, ANCHORS, ETC) */
@font-face {
    font-family: 'Montserrat-Regular';
    src: URL('/Content/Fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
/* ========================================== */

/* ========================================== */
/*                   DESKTOP                  */
/* ========================================== */

.custom-nav {
    background-color: #9B7E46;
    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
    font-family: 'Montserrat-Regular';
}

body {
    background-color: #E2EFDE;
    font-family: 'Montserrat-Regular';
}

.login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
    overflow: hidden;
}

.login-card-img {
    border-radius: 0;
    --position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-card .card-body {
    padding: 50px 50px 50px 50px;
    height: 100%;
}

.brand-wrapper {
    margin-bottom: 10px;
}

.brand-wrapper .logo {
    height: 100px;
}

.paddinginputs {
    padding: 10px 5px 10px 5px;
}

.login-card-description {
    font-size: 25px;
    color: #9B7E46;
    font-weight: bold;
    font-family: 'Merriweather-Bold';
    margin-bottom: 20px;
}

.login-card form {
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #9B7E46;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 15px;
    line-height: 15;
    font-weight: normal;
}

.form-control:focus {
    border-color: #AFD0BF !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(175 208 191 / 25%);
}

.login-card .login-btn {
    padding: 15px 10px 15px 10px;
    background-color: #9B7E46;
    border-radius: 4px;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
    font-family: 'Merriweather-Bold';
}

.login-card .login-btn:hover {
    border: 1px solid #9B7E46;
    background-color: transparent;
    color: #9B7E46;
}

.login-card-footer-text {
    font-size: 15px;
    color: #9B7E46;
    font-weight: normal;
    transition: 0.5s all
}

.login-card-footer-text:hover {
    color: #AFD0BF;
    text-decoration: none;
    font-weight: bold;
}

.title-heading {
    font-size: 35px;
    color: #9B7E46;
    font-weight: bold;
    font-family: 'Merriweather-Bold';
}

.ptext {
    color: #9B7E46;
}

.input-group-text {
    background-color: #9B7E46;
    border: 1px solid #9B7E46;
    color: #fff;
}

.login-card .search-btn {
    padding: 10px 10px 15px 10px;
    background-color: #9B7E46;
    border-radius: 4px;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
    font-family: 'Merriweather-Bold';
}

.login-card .search-btn:hover {
    border: 1px solid #9B7E46;
    background-color: transparent;
    color: #9B7E46;
}

.mt-100 {
    margin-top: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}
/* ========================================== */

.img-habitaciones-border {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row-list-habitaciones > div {
    padding-bottom: 30px;
}

.shadow-box-habitaciones {
    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
}

.habitaciones-box {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px;
}

.habitaciones-box-text {
    padding: 40px 20px 40px 20px;
    background: white;
    border: 0;
    border-bottom-left-radius: 27.5px;
    border-bottom-right-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
}

.habitaciones-box-text > h5 {
    --font-family: 'Merriweather-Bold';
    color: #9B7E46;
}

.habitaciones-box-text > p {
    color: #9B7E46;
    margin-bottom: 5px;
}


/*RESPONSIVE*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .responsivediv {
        width: 100% !important;
    }

    .responsivespan {
        width: 100% !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

