﻿@using Hotel.RoomService
@using Hotel.Models
@model  Hotel.Models.RoomModel

@{
    ViewBag.Title = "Habitaciones";
}

@RenderPage("~/Views/Shared/_slide.cshtml")
<div class="container container-mb">

    @RenderPage("~/Views/Room/SearchForm.cshtml", Model)

    @{
        if (@TempData["errorMessage"] != null)
        {
            <br />
            <div class="alert alert-danger">
                @{
                    @TempData["errorMessage"]
                }
            </div>
        }
    }

    @{
        if (@TempData["infoMessage"] != null)
        {
            <br />
            <div class="alert alert-info">
                @{
                    @TempData["infoMessage"]
                }
            </div>
        }
    }

    @*@{
                if (Model.RoomList != null)
                {
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Número de Habitación</th>
                                <th scope="col">Tipo de habitación</th>
                                <th scope="col">Costo diario</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var room in Model.RoomList)
                            {
                                <tr>
                                    <th scope="row">@Html.DisplayFor(m => room.id)</th>
                                    <td>@Html.DisplayFor(m => room.num_room)</td>
                                    <td>@Html.DisplayFor(m => room.type_room)</td>
                                    <td>@Html.DisplayFor(m => room.cost_room)</td>
                                    <td>
                                        @Html.ActionLink(
        linkText: "Reservar",
        actionName: "Create",
        controllerName: "Booking",
        routeValues: new
        {
            num_room = room.num_room,
            type_room = room.type_room,
            date_checkin = Model.date_checkin,
            date_checkout = Model.date_checkout
        },
        htmlAttributes: new { @class = "btn btn-outline-info my-2 my-sm-0" })
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>

                }
            }*@

    <section class="">
        @{
            if (Model.RoomList != null)
            {
                <div class="row m-0 row-list-habitaciones">

                    @foreach (var room in Model.RoomList)
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row m-0">
                                <div class="col-12 col-md-12 col-lg-12 habitaciones-box shadow-box-habitaciones">
                                    <img class="img-fluid w-100 img-habitaciones-border" src="~/Content/img/img-room-min.jpg" alt="Maseca">
                                    <div class="habitaciones-box-text">
                                        <h5><strong>@Html.DisplayFor(m => room.id) / @Html.DisplayFor(m => room.num_room)</strong></h5>
                                        <p>Tipo de habitación: <strong>@Html.DisplayFor(m => room.type_room)</strong></p>
                                        <p>Costo diario: <strong>¢@Html.DisplayFor(m => room.cost_room)</strong></p>


                                        @Html.ActionLink(
                                            linkText: "Reservar",
                                            actionName: "Create",
                                            controllerName: "Booking",
                                            routeValues: new
                                            {
                                                num_room = room.num_room,
                                                type_room = room.type_room,
                                                date_checkin = Model.date_checkin,
                                                date_checkout = Model.date_checkout
                                            },
                                            htmlAttributes: new { @class = "btn btn-outline-info my-2 my-sm-0" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            }
        }
    </section>

</div>