@using Hotel.Models

@model Hotel.Models.RoomModel

<main class="d-flex align-items-center mt-100 mb-50">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="card-body">
                        <h1 class="title-heading">Reservar habitación</h1>
                        <p class="p-text">Seleccione una fecha de entrada y salida para verificar las habitaciones disponibles.</p>
                        @using (Html.BeginForm("Index", "Room", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">

                                <div class="col-12 col-md-5 paddinginputs">
                                    <div class="input-group">
                                        <div class="input-group-prepend responsivediv">
                                            <span class="input-group-text responsivespan">Entrada</span>
                                        </div>
                                        @Html.TextBoxFor(x => x.date_checkin, "{0:yyyy-MM-dd}",
                                       new { @class = "form-control", @type = "date", autofocus = "autofocus" })
                                    </div>
                                    @Html.ValidationMessageFor(x => x.date_checkin, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-12  col-md-5 paddinginputs">
                                    <div class="input-group">
                                        <div class="input-group-prepend responsivediv">
                                            <span class="input-group-text responsivespan">Salida</span>
                                        </div>
                                        @Html.TextBoxFor(x => x.date_checkout, "{0:yyyy-MM-dd}",
                                      new { @class = "form-control", @type = "date", autofocus = "autofocus" })
                                    </div>
                                    @Html.ValidationMessageFor(x => x.date_checkout, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-12  col-md-2 paddinginputs">
                                    <button type="submit" class="btn btn-block login-btn">Buscar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


