﻿@using Hotel.BookingService
@using Hotel.Models
@model  Hotel.Models.BookingModel

@{
    ViewBag.Title = "Reservaciones";
}

<div class="container container-mb">

    @RenderPage("~/Views/Booking/SearchForm.cshtml", Model)

    @{
        if (@TempData["successMessage"] != null)
        {
            <br />
            <div class="alert alert-success">
                @{
                    @TempData["successMessage"]
                }
            </div>
        }
    }


    @*<table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Número de Habitación</th>
                    <th scope="col">Personas</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Salida</th>
                    @{
                        if (LoginModel.getUserSession().isAdmin())
                        {
                            <th scope="col">Correo electrónico</th>
                        }
                    }
                    <th scope="col">Fecha de registro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.BookinList)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(m => booking.id)</th>
                        <td>@Html.DisplayFor(m => booking.num_room)</td>
                        <td>@Html.DisplayFor(m => booking.count_people)</td>
                        <td>@Html.DisplayFor(m => booking.date_checkin)</td>
                        <td>@Html.DisplayFor(m => booking.date_checkout)</td>

                        @{
                            if (LoginModel.getUserSession().isAdmin())
                            {
                                <td>@Html.DisplayFor(m => booking.user_email)</td>
                            }
                        }
                        <td>@Html.DisplayFor(m => booking.created_at)</td>
                    </tr>
                }



            </tbody>
        </table>*@

    <section class="">

                <div class="row m-0 row-list-habitaciones">

                    @foreach (var booking in Model.BookinList)
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="row m-0">
                                <div class="col-12 col-md-12 col-lg-12 habitaciones-box shadow-box-habitaciones">
                                    <img class="img-fluid w-100 img-habitaciones-border" src="~/Content/img/img-room-min.jpg" alt="Maseca">
                                    <div class="habitaciones-box-text">
                                        <h5><strong>@Html.DisplayFor(m => booking.id) / @Html.DisplayFor(m => booking.num_room)</strong></h5>
                                        <p>Personas: <strong>@Html.DisplayFor(m => booking.count_people)</strong></p>
                                        <p>Entrada: <strong>@Html.DisplayFor(m => booking.date_checkin)</strong></p>
                                        <p>Salida: <strong>@Html.DisplayFor(m => booking.date_checkout)</strong></p>
                                        @{
                                            if (LoginModel.getUserSession().isAdmin())
                                            {
                                                <p>Correo electrónico: <strong>@Html.DisplayFor(m => booking.user_email)</strong></p>
                                            }
                                        }
                                        <p>Fecha de registro: <strong>@Html.DisplayFor(m => booking.created_at)</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
    </section>

</div>