@using Hotel.Models

@model Hotel.Models.BookingModel

@*<div class="container mt-5 mb-5">
    <h1>Reservaciones realizadas</h1>
    <br />
    <h3>Filtrar resultados</h3>

    @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">

            <div class="col-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Entrada</span>
                    </div>
                    @Html.TextBoxFor(x => x.date_checkin,
                  new { @class = "form-control",type="date", placeholder = "Entrada", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.date_checkin, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Salida</span>
                    </div>
                    @Html.TextBoxFor(x => x.date_checkout,
                  new { @class = "form-control", type = "date", placeholder = "Salida" })
                    @Html.ValidationMessageFor(x => x.date_checkout, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-2 ">
                <button type="submit" class="btn btn-outline-primary  btn-block">Filtrar</button>
            </div>
        </div>
    }
</div>*@

<main class="d-flex align-items-center mt-100 mb-50">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="card-body">
                        <h1 class="title-heading">Reservaciones realizadas</h1>
                        <h1 class="title-heading">Filtrar resultados</h1>
                        <p class="p-text">Seleccione una fecha de entrada y salida para verificar las habitaciones disponibles.</p>
                        @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">

                                <div class="col-5">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Entrada</span>
                                        </div>
                                        @Html.TextBoxFor(x => x.date_checkin,
                                      new { @class = "form-control",type="date", placeholder = "Entrada", autofocus = "autofocus" })
                                    </div>
                                    @Html.ValidationMessageFor(x => x.date_checkin, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-5">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Salida</span>
                                        </div>
                                        @Html.TextBoxFor(x => x.date_checkout,
                                      new { @class = "form-control", type = "date", placeholder = "Salida" })
                                    </div>
                                    @Html.ValidationMessageFor(x => x.date_checkout, null, new { @class = "text-danger" })
                                </div>
                                <div class="col-2 ">
                                    <button type="submit" class="btn btn-block login-btn">Buscar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


